# ==============================
# ENTORNO VIRTUAL
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==============================
# DJANGO
# ==============================
*.log
local_settings.py

# Base de datos local
db.sqlite3
db.sqlite3-journal

# ==============================
# VARIABLES DE ENTORNO
# ==============================
.env
.env.*
!.env.example

# ==============================
# IDE / EDITORES
# ==============================
.vscode/
.idea/

# ==============================
# WINDOWS
# ==============================
Thumbs.db
ehthumbs.db
Desktop.ini

# ==============================
# MACOS
# ==============================
.DS_Store

# ==============================
# ARCHIVOS TEMPORALES
# ==============================
*.tmp
*.temp
*.bak
*.swp